body {
  font-family: sans-serif;
}

* {
  display: block;
}

a {
  text-decoration: none;
}

h1 {
  color: powderblue;
}
h1 a {
  color: hotpink;
}

h2 {
  color: #9E48B5;
  margin-bottom: 0.75rem;
}

div {
  color: #F186AA;
  margin-bottom: 2.25rem;
}

.card {
  display: block;
  padding: 0.75rem;
  border: 1px solid #ddd;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}
.card .card-title {
  font-size: 1rem;
  padding-bottom: 0.75rem;
  font-weight: bold;
}
.card .card-body {
  font-size: 1rem;
}
.card .card-body a {
  text-decoration: underline;
}