body {
    font-family: sans-serif;
}

* {
    display: block;     
}


h1 {
    color: powderblue;
    a {
        color: hotpink;
    }
  }

// variables 

$primary: #9E48B5;
$secondary: #F186AA;
$base-padding: .75rem;

h2 {
    color: $primary;
    margin-bottom: $base-padding;
}

div {
    color: $secondary;
    margin-bottom: $base-padding * 3;
}