body {
    font-family: sans-serif;
}

a {
    text-decoration: none;;
}


h1 {
    color: powderblue;
    a {
        color: hotpink;
    }
  }



h2 {
    margin-bottom: $base-padding;
}

div {
    margin-bottom: $base-padding * 3;
}