body {
    font-family: sans-serif;
}

* {
    display: block;     
}

a {
    text-decoration: none;;
}


h1 {
    color: powderblue;
    a {
        color: hotpink;
    }
  }



h2 {
    color: $primary;
    margin-bottom: $base-padding;
}

div {
    color: $secondary;
    margin-bottom: $base-padding * 3;
}