// variables 

// colors
$primary: #9E48B5;
$secondary: #F186AA;
$error: #DF6A47;
$info: #7BB8EF;

// spacing 
$base-padding: .75rem; 
$base-margin: .75rem;

// borders
$base-border-thickness: 1px;
$base-border-radius: 20px;

// box-shadow 
$base-box-shadow: 1px 3px 5px rgba(0,0,0,0.1);

// font-sizes 
$base-font-size: 1rem;
